@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "akzidenz";
  src: local(''), url('../public/fonts/akzidenz_sv_font/Akzidenz-grotesk-roman.ttf') format('woff');
  font-weight: normal;
  font-style: normal
}

@import url('https://rsms.me/inter/inter.css');

@supports (font-variation-settings: normal) {
  body {
    font-family: "Inter var", sans-serif
  }
}


html,
body {
  background-color: #0E0411;
  padding: 0;
  margin: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scrollbar-color: red yellow;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  cursor: pointer
}

* {
  box-sizing: border-box;
}

.rhap_container {
  background-color: #0E0411 !important;
  outline: none !important;
  box-shadow: none !important;
  color: #00C2FF !important;
  width: 350px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.rhap_main-controls-button svg {
  color: #00C2FF;
}

.rhap_button-clear.rhap_volume-button {
  color: #00C2FF !important;
}


.rhap_volume-bar, .rhap_volume-indicator {
  background-color: #00C2FF !important;
}

.rhap_play-status--paused .rhap_progress-bar  {
  background-color: transparent;
  border: 1px solid #00C2FF;
  border-radius: 0;
  height: 7px;
}

.rhap_play-status--playing .rhap_progress-bar {
  background-color: transparent;
  border: 1px solid #00C2FF;
  border-radius: 0;
  height: 7px;
}

.rhap_current-time, .rhap_total-time {
  color: #00C2FF !important;
}

.rhap_progress-filled {
  color: #00C2FF !important;
  background-color: #00C2FF !important;
}

.rhap_progress-indicator {
  background-color: #00C2FF !important;

}

/* .rhap_download-progress {
  background-color: transparent !important;
} */
